%description-12 {
  font-size: 1.2rem;
}

%description-14 {
  font-size: 1.4rem;
}

%description-16 {
  font-size: 1.6rem;
}

%description-35 {
  font-size: 3.5rem;

  @include media('>phone') {
    font-size: 1.8rem;
  }
}

%description-30 {
  font-size: 3rem;

  @include media('>phone') {
    font-size: 1.5rem;
  }
}

%description-36 {
  font-size: 3.8rem;

  @include media('>phone') {
    font-size: 1.8rem;
  }
}
