$color-black: #000;
$color-bittersweet: #fe7867;
$color-blumine: #19536b;
$color-casal: #2d7466;
$color-ebony-clay: #23303e;
$color-gold: #fad400;
$color-gray-chateau: #a7abae;
$color-monte-carlo: #90d4c5;
$color-plantation: #25564b;
$color-shuttle-gray: #5a636c;
$color-soapstone: #fffbf8;
$color-viridian: #458c7e;
$color-waterloo: #818498;
$color-white: #fff;

$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', sans-serif;

$padding-wrapper: 2.4rem;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'preloader',
  'cursor',
  'navigation',
  'content',
  'cases',
  'canvas'
);
