$color-black: #000;
$color-cadet-blue: #b2b8c3;
$color-contessa: #c97164;
$color-quarter-spanish-white: #f9f1e7;
$color-quicksand: #bc978c;
$color-white: #fff;

$font-george-x: 'George X', sans-serif;
$font-suisse-bp: 'Suisse BP', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'preloader',
  'cursor',
  'navigation',
  'content',
  'cases',
  'canvas'
);
