*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920px * 10px);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750px * 10px);
  }
}

body {
  @extend %description-16;
  font-family: $font-suisse-bp;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background-color: rgba($color-white, 0);
  border: none;
  cursor: pointer;
  outline: none;
}

img {
  vertical-align: middle;
}
