.about__article__wrapper {
  color: $color-ebony-clay;

  @include media('>phone', '>=desktop') {
    display: grid;
    grid-template-areas: 'image article';
    width: 100%;

    &:first-of-type {
      grid-template-areas: 'article image';
    }
  }
}

.about__article {
  height: 87.5rem;
  padding: 12.5rem 1rem;
  position: relative;

  @include media('>phone', '>=desktop') {
    grid-area: article;
    height: 59rem;
    padding: 16rem 16rem 16rem 11rem;
    overflow: hidden;
    width: 50vw;

    .about__article__wrapper:first-of-type & {
      padding: 16rem 11rem 16rem 16rem;
    }
  }

  @include media('>desktop') {
    width: calc(1440px / 2);
  }
}

.about__article__media {
  @include media('>phone', '>=desktop') {
    grid-area: image;
    width: 50vw;
  }

  @include media('>desktop') {
    width: calc(1440px / 2);
  }
}

.about__article__title {
  @extend %title-62;

  line-height: 1.3;
  letter-spacing: 0.1rem;
  padding: 0px 10rem;
  text-align: center;

  @include media('>phone', '>=desktop') {
    letter-spacing: 0;
    line-height: 1.2;
    padding: 0;
    padding-left: 0.3rem;
    text-align: left;
  }
}

.about__article__description {
  @extend %description-35;

  color: $color-waterloo;
  letter-spacing: 0.039rem;
  line-height: 1.7;
  margin-top: 5rem;
  padding: 0 4rem;
  text-align: center;

  @include media('>phone', '>=desktop') {
    letter-spacing: normal;
    margin-left: 0.4rem;
    margin-top: 3rem;
    padding: 0;
    text-align: left;
  }
}

.about__article__link {
  @extend %title-34;
  bottom: 14rem;
  display: block;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);

  @include media('>phone', '>=desktop') {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0);
    margin: 4.5rem 1.5rem;
  }

  &.about__article__link__yellow,
  &.about__article__link__red {
    &::after {
      border-radius: 5rem;
      content: '';
      display: block;
      height: 2rem;
      left: 50%;
      position: absolute;
      top: 2.2rem;
      transform: translateX(-50%);
      width: 110%;
      opacity: 0.3;
      z-index: -1;

      @include media('>phone', '>=desktop') {
        height: 1rem;
        left: -0.5rem;
        position: relative;
        top: -0.5rem;
        transform: translate(0);
        width: 12.5rem;
      }
    }

    &:active {
      opacity: 1;
    }

    @include media('>phone', '>=desktop') {
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &.about__article__link__yellow {
    &::after {
      background-color: $color-gold;
    }
  }
  &.about__article__link__red {
    &::after {
      background-color: $color-bittersweet;
    }

    @include media('>phone', '>=desktop') {
      margin-left: 1rem;
    }
  }
}
