.home {
  @extend %cover;
  @extend %center;

  color: $color-white;
  height: 107.6rem;
  position: relative;
  text-align: center;

  @include media('>phone') {
    height: auto;
  }
}
.home__wrapper {
  position: relative;
  height: 100%;
}

.home__title__wrapper {
  left: 50%;
  letter-spacing: 1.3rem;
  line-height: 1.2;
  padding-top: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  @include media('>phone') {
    padding: 0;
    top: 20rem;
    transform: translate(-50%, 0);
    width: 100%;
  }
}
.home__title {
  @extend %title-80;
  font-weight: 900;
  text-transform: uppercase;
}

.home__icon__wrapper {
  height: 32rem;
  padding-top: 9.7rem;

  @include media('>phone') {
    height: auto;
    padding-top: 9.7rem;
  }
}

.home__icon__arrow {
  width: 7.2rem;

  @include media('>phone') {
    width: 3.6rem;
  }
}

.home__banner__media {
  height: 100%;
  width: 100%;
  z-index: z('canvas');
}

.home__banner__media__image {
  height: 100%;
  object-fit: cover;
  width: auto;

  @include media('>phone') {
    height: auto;
    width: 100%;
  }
}
