.home {
  @extend %center;

  color: $color-white;
  text-align: center;
}
.home__wrapper {
  position: relative;
}

.home__title {
  position: absolute;
  z-index: z('content');
}

.home__banner__media {
  z-index: z('canvas');
}

.home__banner__media__image {
}
